html {
  background-color: #ffefef;
  text-align: center;
  min-width: 350px;
}

h1 {
  font-family: fantasy;
  font-size: 4em;
  font-weight: normal;
  padding: 1px;
  margin: 30px 10px 5px 10px;
}

.container {
  padding: 0px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#left-container {
  text-align: left;
}

#right-container {
  text-align: right;
}

#work p,
#break p {
  color: #074082;
  padding: 5px;
}

.timerDisplay {
  color: #aa2525;
  font-size: 7em;
  font-weight: bold;
  margin-top: -200px;
}

.btn {
  margin: 10px;
  padding: 8px 10px;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  border: 2px solid white;
  margin-top: -250px;
}

#start-btn {
  height: 60px;
  width: 140px;
  border-radius: 30px;
  position: relative;
  left: 50%;
  transform: translate(-80%, -130%);
  background: #5c4f87;
}

.btn-settings {
  background-color: #4e4e5b;
  border: 2px solid #4e4e5b;
  border-radius: 10px;
  padding: 2px 5px;
  min-width: 40px;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

#reset {
  border-radius: 80px;
  width: 100px;
  height: 60px;
  background: #074082;
  transform: translate(80%, 70%);
}

#work button #reset {
  margin-left: 10px;
}

#break button #break-minus {
  margin-right: 100px;
}

